---
layout: index
title: Floobits News
---

<p></p>
{% for post in site.posts %}
  {% if post.next %}
  <hr />
  {% endif %}
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
  <p>
    <small>
      {{ post.date | date_to_string }}
      {% if post.authors %}
        by
      {% endif %}
      {% for author in post.authors %}
        {{ author }}
      {% endfor %}
    </small>
  </p>

  {% if post.excerpt %}
  <p>
    {{ post.excerpt }}
  </p>
  <a href="{{ post.url }}">Read more</a>
  {% endif %}
{% endfor %}
