<div class="fl-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>Info</h5>
        <ul>
          <li><a href="https://floobits.com/about">About Us</a></li>
          <li><a href="https://floobits.com/pledge">Pledge</a></li>
          <li><a href="https://floobits.com/security">Security</a></li>
          <li><a href="https://floobits.com/edu">Education</a></li>
          <li><a href="https://floobits.com/privacy">Privacy Policy</a></li>
          <li><a href="https://floobits.com/tos">Terms of Service</a></li>
          <li><a href="https://floobits.com/credits">Credits</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5>Help</h5>
        <ul>
          <li><a href="https://floobits.com/help/faq">FAQ</a></li>
          <li><a href="https://floobits.com/help/plugins">Editor Plugins</a></li>
          <li><a href="https://floobits.com/help/floorc">~/.floorc</a></li>
          <li><a href="https://floobits.com/help/floomatic">Floomatic</a></li>
          <li><a href="https://floobits.com/help/flootty">FlooTTY</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5>Explore</h5>
        <ul>
          <li><a href="https://floobits.com/active">Active Workspaces</a></li>
          <li><a href="https://floobits.com/code_roulette">Code Roulette</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5>Talk to us</h5>
        <ul>
          <li><a href="irc://irc.freenode.net:6667/#floobits">IRC</a></li>
          <li><a href="https://twitter.com/Floobits">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
