<div id="navbar_container">
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner" style="float: right;">
        <ul id="top_nav" class="nav">
          <li><a href="https://floobits.com/active/">Explore</a></li>
          <li><a href="https://floobits.com/help/">Help</a></li>
          <li><a href="/">News</a></li>
          <li><a href="https://floobits.com/plans/">Plans</a></li>
        </ul>
      </div>
      <h1 id="header">
        <a href="https://floobits.com/"><img style="height: 72px; width: 57px;" src="https://floobits.com/static/images/logo-white-small.png" /></a>
        <a href="/">Floobits News</a>
      </h1>
    </div>
  </div>
</div>
