<nav class="navbar navbar-default fl-navbar" role="navigation">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="https://floobits.com/">
          <img src="https://floobits.com/static/images/v2/fl_logo146_30.png" alt="Floobits" title="Floobits" />
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="fl-nav-link" href="https://floobits.com/plans">plans</a></li>
        <li><a class="fl-nav-link" href="https://floobits.com/active">explore</a></li>
        <li><a class="fl-nav-link" href="https://floobits.com/help">help</a></li>
        <li class="active"><a class="fl-nav-link" href="/">news</a></li>
      </ul>
    </div>
  </div>
</nav>
