<div id="navbar_container">
  <div class="container">
    <div class="navbar" id="top_navbar">
      <div class="navbar-inner">
        <ul class="nav" id="top_nav">
          <li><a href="https://floobits.com/active/">Explore</a></li>
          <li><a href="https://floobits.com/help/">Help</a></li>
          <li><a href="/">News</a></li>
          <li><a href="https://floobits.com/plans/">Plans</a></li>
        </ul>
      </div>
    </div>
    <h1 id="header">
      <a href="https://floobits.com/"><img style="height: 100px; width: 91px; margin-top: -35px;" src="https://floobits.com/static/images/logo-white-small.png" /></a>
      <a href="/">Floobits News</a>
    </h1>
  </div>
</div>
