<ul class="list-unstyled">
  <li>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="Floobits" data-dnt="true">Tweet</a>
  </li>
  <li>
    <img src="/images/hn.png" style="height:20px; width:20px;" />
    <a href="https://news.ycombinator.com/submitlink?u={{ site.url | uri_escape }}{{ page.url | uri_escape }}&t={{ page.title | uri_escape }}">Discuss on Hacker News</a>
  </li>
</ul>

<script type="text/javascript">
var f = function(d,s,id) {
  var js,
    fjs=d.getElementsByTagName(s)[0],
    p=/^http:/.test(d.location)?'http':'https';

  if (!d.getElementById(id)) {
      js=d.createElement(s);
      js.id=id;
      js.src=p+'://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js,fjs);
  }
};
f(document, 'script', 'twitter-wjs');
</script>
