<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
{% include head.html %}
<body>
  {% include header.html %}
  <div class="container">
    <p>
      <small>{{ page.date | date_to_string }}</small>
    </p>
    <div class="post">
      {{ content }}
    </div>

    <div style="padding-top: 1em;">
      {% if page.previous %}
        <span class="pull-left">
          <a class="nav-left" href="{{ page.previous.url }}">&larr;&nbsp;{{ page.previous.title }}</a>
        </span>
      {% endif %}
      {% if page.next %}
        <span class="pull-right">
          <a class="nav-right" href="{{ page.next.url }}">{{ page.next.title }}&nbsp;&rarr;</a>
        </span>
      {% endif %}
    </div>

    {% include footer.html %}
  </div>
  {% include ga.html %}
</body>
</html>
