<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
{% include head.html %}
<body>
  <main>
  {% include header.html %}
  <div class="content-container">
  <div class="container">
    <br class="separator" />
    <h3>
      <a href="{{ page.url | split:"index.html" | first }}">{{ page.title }}</a>
    </h3>
    <p>
      <small>
        {{ page.date | date_to_string }}
        {% if page.authors %}
          by
        {% endif %}
        {% for author in page.authors %}
          {{ author }}
        {% endfor %}
      </small>
    </p>
    <hr />
    <div class="post">
      {{ content }}
    </div>
    {% for author in page.authors %}
    <div class="author">
      {% if author == "ggreer" %}
        {% include authors/ggreer.html %}
      {% elsif author == "kansface" %}
        {% include authors/kansface.html %}
      {% elsif author == "bjorn" %}
        {% include authors/bjorn.html %}
      {% endif %}
    </div>
    {% endfor %}

    <div style="padding-top: 4em;">
      <hr />
      {% if page.previous %}
        <span class="pull-left">
          <a class="nav-left" href="{{ page.previous.url }}">&larr;&nbsp;{{ page.previous.title }}</a>
        </span>
      {% endif %}
      {% if page.next %}
        <span class="pull-right">
          <a class="nav-right" href="{{ page.next.url }}">{{ page.next.title }}&nbsp;&rarr;</a>
        </span>
      {% endif %}
    </div>

  </div>
  </div>
  {% include footer.html %}
  </main>
  {% include ga.html %}
</body>
</html>
